.Tasks {
   padding: 0 1em 4em;
   background-color: rgb(217, 85, 80);
   transition: background-color 0.5s ease-in-out 0s;
}

.shortBreakTheme {
   background-color: rgb(76, 145, 149);
}

.longBreakTheme {
   background-color: rgb(69, 124, 163);
}

.wrapper {
   max-width: 480px;
   margin: 0 auto;
}

.btnAdd {
   font-family: inherit;
   width: 100%;
   color: #fff;
   opacity: 0.8;
   display: block;
   background-color: rgb(0, 0, 0, 0.1);
   border: 2px dashed rgb(255, 255, 255, 0.4);
   border-radius: 0.4em;
   padding: 1.2em 0;
}

.btnAdd:hover {
   opacity: 1;
}