.Header {
   padding: 0.6em 0;
   margin-bottom: 1em;
}

.wrapper {
   max-width: 620px;
   margin: 0 auto;
}

.name {
   font-size: 2em;
   font-weight: 700;
   font-style: italic;
   text-align: center;
}