.Header {
   padding: 0.6em 1em 1em;
   background-color: rgb(217, 85, 80);
   transition: background-color 0.5s ease-in-out 0s;
}

.shortBreakTheme {
   background-color: rgb(76, 145, 149);
}

.longBreakTheme {
   background-color: rgb(69, 124, 163);;
}

.wrapper {
   max-width: 620px;
   margin: 0 auto;
}

.name {
   font-size: 2em;
   font-weight: 700;
   font-style: italic;
   text-align: center;
}